//! **************************************************************************
// Written by: Map M.70d on Wed Feb 23 14:37:49 2011
//! **************************************************************************

SCHEMATIC START;
COMP "LED_Green" LOCATE = SITE "P117" LEVEL 1;
COMP "MISO" LOCATE = SITE "P112" LEVEL 1;
COMP "SCLK" LOCATE = SITE "P113" LEVEL 1;
COMP "MOSI" LOCATE = SITE "P111" LEVEL 1;
COMP "CS" LOCATE = SITE "P68" LEVEL 1;
COMP "Port0<0>" LOCATE = SITE "P76" LEVEL 1;
COMP "Port0<1>" LOCATE = SITE "P82" LEVEL 1;
COMP "Port0<2>" LOCATE = SITE "P85" LEVEL 1;
COMP "Port0<3>" LOCATE = SITE "P90" LEVEL 1;
COMP "Port1<0>" LOCATE = SITE "P77" LEVEL 1;
COMP "Port0<4>" LOCATE = SITE "P92" LEVEL 1;
COMP "Port1<1>" LOCATE = SITE "P83" LEVEL 1;
COMP "Port0<5>" LOCATE = SITE "P96" LEVEL 1;
COMP "Port1<2>" LOCATE = SITE "P87" LEVEL 1;
COMP "Port0<6>" LOCATE = SITE "P101" LEVEL 1;
COMP "Port1<3>" LOCATE = SITE "P91" LEVEL 1;
COMP "Port0<7>" LOCATE = SITE "P104" LEVEL 1;
COMP "Port2<0>" LOCATE = SITE "P121" LEVEL 1;
COMP "Port1<4>" LOCATE = SITE "P93" LEVEL 1;
COMP "Port2<1>" LOCATE = SITE "P125" LEVEL 1;
COMP "Port1<5>" LOCATE = SITE "P98" LEVEL 1;
COMP "Port2<2>" LOCATE = SITE "P127" LEVEL 1;
COMP "Port1<6>" LOCATE = SITE "P102" LEVEL 1;
COMP "Port2<3>" LOCATE = SITE "P130" LEVEL 1;
COMP "Port1<7>" LOCATE = SITE "P105" LEVEL 1;
COMP "Port3<0>" LOCATE = SITE "P124" LEVEL 1;
COMP "Port2<4>" LOCATE = SITE "P132" LEVEL 1;
COMP "Port3<1>" LOCATE = SITE "P126" LEVEL 1;
COMP "Port2<5>" LOCATE = SITE "P135" LEVEL 1;
COMP "Port3<2>" LOCATE = SITE "P129" LEVEL 1;
COMP "Port2<6>" LOCATE = SITE "P139" LEVEL 1;
COMP "Port3<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "Port2<7>" LOCATE = SITE "P142" LEVEL 1;
COMP "Port4<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "Port3<4>" LOCATE = SITE "P134" LEVEL 1;
COMP "Port4<1>" LOCATE = SITE "P7" LEVEL 1;
COMP "Port3<5>" LOCATE = SITE "P138" LEVEL 1;
COMP "Port4<2>" LOCATE = SITE "P10" LEVEL 1;
COMP "Port3<6>" LOCATE = SITE "P141" LEVEL 1;
COMP "Port4<3>" LOCATE = SITE "P12" LEVEL 1;
COMP "Port3<7>" LOCATE = SITE "P143" LEVEL 1;
COMP "Port5<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "Port4<4>" LOCATE = SITE "P21" LEVEL 1;
COMP "Port5<1>" LOCATE = SITE "P6" LEVEL 1;
COMP "Port4<5>" LOCATE = SITE "P25" LEVEL 1;
COMP "Port5<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "Port4<6>" LOCATE = SITE "P28" LEVEL 1;
COMP "Port5<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "Port4<7>" LOCATE = SITE "P30" LEVEL 1;
COMP "LED_Red" LOCATE = SITE "P115" LEVEL 1;
COMP "Port6<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "Port5<4>" LOCATE = SITE "P20" LEVEL 1;
COMP "Port6<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "Port5<5>" LOCATE = SITE "P24" LEVEL 1;
COMP "Port6<2>" LOCATE = SITE "P45" LEVEL 1;
COMP "Port5<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "Port6<3>" LOCATE = SITE "P47" LEVEL 1;
COMP "Port5<7>" LOCATE = SITE "P29" LEVEL 1;
COMP "Port7<0>" LOCATE = SITE "P42" LEVEL 1;
COMP "Port6<4>" LOCATE = SITE "P55" LEVEL 1;
COMP "Port7<1>" LOCATE = SITE "P44" LEVEL 1;
COMP "Port6<5>" LOCATE = SITE "P59" LEVEL 1;
COMP "Port7<2>" LOCATE = SITE "P46" LEVEL 1;
COMP "Port6<6>" LOCATE = SITE "P62" LEVEL 1;
COMP "Port7<3>" LOCATE = SITE "P48" LEVEL 1;
COMP "Port6<7>" LOCATE = SITE "P64" LEVEL 1;
COMP "Port7<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "Port7<5>" LOCATE = SITE "P60" LEVEL 1;
COMP "Port7<6>" LOCATE = SITE "P63" LEVEL 1;
COMP "Port7<7>" LOCATE = SITE "P67" LEVEL 1;
COMP "Clk" LOCATE = SITE "P57" LEVEL 1;
PIN CB1/DCM_SP_INST1_pin<10> = BEL "CB1/DCM_SP_INST1" PINNAME CLKIN;
PIN "CB1/DCM_SP_INST1_pin<10>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN CB1/DCM_SP_INST1_pins<3> = BEL "CB1/DCM_SP_INST1" PINNAME CLKIN;
TIMEGRP Clk = BEL "TF_WE" BEL "TR_WE" BEL "TP_WE" BEL "RAMWrite" BEL
        "LED_Red_Int" BEL "Run" BEL "LED_Green_Int" BEL "Terminate_0" BEL
        "Terminate_1" BEL "Terminate_2" BEL "Terminate_3" BEL "Terminate_4"
        BEL "Terminate_5" BEL "Terminate_6" BEL "Terminate_7" BEL
        "Terminate_8" BEL "Terminate_9" BEL "Terminate_10" BEL "Terminate_11"
        BEL "Terminate_12" BEL "Terminate_13" BEL "Terminate_14" BEL
        "Terminate_15" BEL "Terminate_16" BEL "Terminate_17" BEL
        "Terminate_18" BEL "Terminate_19" BEL "Terminate_20" BEL
        "Terminate_21" BEL "Terminate_22" BEL "Terminate_23" BEL
        "Terminate_24" BEL "Terminate_25" BEL "Terminate_26" BEL
        "Terminate_27" BEL "Terminate_28" BEL "Terminate_29" BEL
        "Terminate_30" BEL "Terminate_31" BEL "SS1/SSD1/SCLKLast" BEL
        "SS1/SSD1/SCLKRisingEdge" BEL "SS1/SSD1/SCLKFallingEdge" BEL
        "SS1/SSD1/InReg_0" BEL "SS1/SSD1/InReg_1" BEL "SS1/SSD1/InReg_2" BEL
        "SS1/SSD1/InReg_3" BEL "SS1/SSD1/InReg_4" BEL "SS1/SSD1/InReg_5" BEL
        "SS1/SSD1/InReg_6" BEL "SS1/SSD1/InReg_7" BEL "SS1/SSD1/EOB" BEL
        "SS1/SSD1/SCLKLast2" BEL "SS1/SSD1/DataReceived_0" BEL
        "SS1/SSD1/StrobeInt" BEL "SS1/SSD1/DataReceived_1" BEL
        "SS1/SSD1/DataReceived_2" BEL "SS1/SSD1/DataReceived_3" BEL
        "SS1/SSD1/DataReceived_4" BEL "SS1/SSD1/DataReceived_5" BEL
        "SS1/SSD1/DataReceived_6" BEL "SS1/SSD1/DataReceived_7" BEL
        "SS1/SSD1/OutInt_0" BEL "SS1/SSD1/OutInt_1" BEL "SS1/SSD1/OutInt_2"
        BEL "SS1/SSD1/OutInt_3" BEL "SS1/SSD1/OutInt_4" BEL
        "SS1/SSD1/OutInt_5" BEL "SS1/SSD1/OutInt_6" BEL "SS1/SSD1/OutInt_7"
        BEL "SS1/SSD1/InLatchCnt_FSM_FFd1" BEL "SS1/SSD1/BitCnt_0" BEL
        "SS1/SSD1/BitCnt_1" BEL "SS1/SSD1/BitCnt_2" BEL "SS1/ByteCnt_2" BEL
        "SS1/ByteCnt_1" BEL "SS1/ByteCnt_0" BEL "SS1/OUT5Int_7" BEL
        "SS1/OUT5Int_6" BEL "SS1/OUT5Int_5" BEL "SS1/OUT5Int_4" BEL
        "SS1/OUT5Int_3" BEL "SS1/OUT5Int_2" BEL "SS1/OUT5Int_1" BEL
        "SS1/OUT5Int_0" BEL "SS1/OUT4Int_7" BEL "SS1/OUT4Int_6" BEL
        "SS1/OUT4Int_5" BEL "SS1/OUT4Int_4" BEL "SS1/OUT4Int_3" BEL
        "SS1/OUT4Int_2" BEL "SS1/OUT4Int_1" BEL "SS1/OUT4Int_0" BEL
        "SS1/OUT3Int_7" BEL "SS1/OUT3Int_6" BEL "SS1/OUT3Int_5" BEL
        "SS1/OUT3Int_4" BEL "SS1/OUT3Int_3" BEL "SS1/OUT3Int_2" BEL
        "SS1/OUT3Int_1" BEL "SS1/OUT3Int_0" BEL "SS1/OUT2Int_7" BEL
        "SS1/OUT2Int_6" BEL "SS1/OUT2Int_5" BEL "SS1/OUT2Int_4" BEL
        "SS1/OUT2Int_3" BEL "SS1/OUT2Int_2" BEL "SS1/OUT2Int_1" BEL
        "SS1/OUT2Int_0" BEL "SS1/OUT1Int_7" BEL "SS1/OUT1Int_6" BEL
        "SS1/OUT1Int_5" BEL "SS1/OUT1Int_4" BEL "SS1/OUT1Int_3" BEL
        "SS1/OUT1Int_2" BEL "SS1/OUT1Int_1" BEL "SS1/OUT1Int_0" BEL
        "SS1/OUT0Int_7" BEL "SS1/OUT0Int_6" BEL "SS1/OUT0Int_5" BEL
        "SS1/OUT0Int_4" BEL "SS1/OUT0Int_3" BEL "SS1/OUT0Int_2" BEL
        "SS1/OUT0Int_1" BEL "SS1/OUT0Int_0" BEL "SS1/OUTStrobeInt_5" BEL
        "SS1/OUTStrobeInt_4" BEL "SS1/OUTStrobeInt_1" BEL
        "SS1/SSD1/InLatchCnt_FSM_FFd2" BEL "Buf_Clk_BUFG.GCLKMUX" BEL
        "Buf_Clk_BUFG" PIN "CB1/DCM_SP_INST1_pins<3>";
TIMEGRP DFS_Clk1 = BEL "Port_buf_1" BEL "TF_clkb" BEL "Port_buf_0" BEL
        "Port_buf_4" BEL "Port_buf_2" BEL "Port_buf_3" BEL "Port_buf_7" BEL
        "Port_buf_5" BEL "Port_buf_6" BEL "Port_buf_10" BEL "Port_buf_8" BEL
        "Port_buf_9" BEL "Port_buf_13" BEL "Port_buf_11" BEL "Port_buf_12" BEL
        "Port_buf_16" BEL "Port_buf_14" BEL "Port_buf_15" BEL "Port_buf_19"
        BEL "Port_buf_17" BEL "Port_buf_18" BEL "Port_buf_22" BEL
        "Port_buf_20" BEL "Port_buf_21" BEL "Port_buf_25" BEL "Port_buf_23"
        BEL "Port_buf_24" BEL "Port_buf_28" BEL "Port_buf_26" BEL
        "Port_buf_27" BEL "Port_buf_31" BEL "Port_buf_29" BEL "Port_buf_30"
        BEL "Port_buf_34" BEL "Port_buf_32" BEL "Port_buf_33" BEL
        "Port_buf_37" BEL "Port_buf_35" BEL "Port_buf_36" BEL "Port_buf_40"
        BEL "Port_buf_38" BEL "Port_buf_39" BEL "Port_buf_43" BEL
        "Port_buf_41" BEL "Port_buf_42" BEL "Port_buf_46" BEL "Port_buf_44"
        BEL "Port_buf_45" BEL "Port_buf_49" BEL "Port_buf_47" BEL
        "Port_buf_48" BEL "Port_buf_52" BEL "Port_buf_50" BEL "Port_buf_51"
        BEL "Port_buf_55" BEL "Port_buf_53" BEL "Port_buf_54" BEL
        "Port_buf_58" BEL "Port_buf_56" BEL "Port_buf_57" BEL "Port_buf_61"
        BEL "Port_buf_59" BEL "Port_buf_60" BEL "Port_buf_62" BEL
        "Port_buf_63" BEL "Init" BEL "Port_i_0" BEL "Port_i_1" BEL "Port_i_2"
        BEL "Port_i_3" BEL "Port_i_4" BEL "Port_i_5" BEL "Port_i_6" BEL
        "Port_i_7" BEL "Port_i_8" BEL "Port_i_9" BEL "Port_i_10" BEL
        "Port_i_11" BEL "Port_i_12" BEL "Port_i_13" BEL "Port_i_14" BEL
        "Port_i_15" BEL "Port_i_16" BEL "Port_i_17" BEL "Port_i_18" BEL
        "Port_i_19" BEL "Port_i_20" BEL "Port_i_21" BEL "Port_i_22" BEL
        "Port_i_23" BEL "Port_i_24" BEL "Port_i_25" BEL "Port_i_26" BEL
        "Port_i_27" BEL "Port_i_28" BEL "Port_i_29" BEL "Port_i_30" BEL
        "Port_i_31" BEL "Port_i_32" BEL "Port_i_33" BEL "Port_i_34" BEL
        "Port_i_35" BEL "Port_i_36" BEL "Port_i_37" BEL "Port_i_38" BEL
        "Port_i_39" BEL "Port_i_40" BEL "Port_i_41" BEL "Port_i_42" BEL
        "Port_i_43" BEL "Port_i_44" BEL "Port_i_45" BEL "Port_i_46" BEL
        "Port_i_47" BEL "Port_i_48" BEL "Port_i_49" BEL "Port_i_50" BEL
        "Port_i_51" BEL "Port_i_52" BEL "Port_i_53" BEL "Port_i_54" BEL
        "Port_i_55" BEL "Port_i_56" BEL "Port_i_57" BEL "Port_i_58" BEL
        "Port_i_59" BEL "Port_i_60" BEL "Port_i_61" BEL "Port_i_62" BEL
        "Port_i_63" BEL "Accumulator_0" BEL "Accumulator_1" BEL
        "Accumulator_2" BEL "Accumulator_3" BEL "Accumulator_4" BEL
        "Accumulator_5" BEL "Accumulator_6" BEL "Accumulator_7" BEL
        "Accumulator_8" BEL "Accumulator_9" BEL "Accumulator_10" BEL
        "Accumulator_11" BEL "Accumulator_12" BEL "Accumulator_13" BEL
        "Accumulator_14" BEL "Accumulator_15" BEL "Accumulator_16" BEL
        "Accumulator_17" BEL "Accumulator_18" BEL "Accumulator_19" BEL
        "Accumulator_20" BEL "Accumulator_21" BEL "Accumulator_22" BEL
        "Accumulator_23" BEL "Accumulator_24" BEL "Accumulator_25" BEL
        "Accumulator_26" BEL "Accumulator_27" BEL "Accumulator_28" BEL
        "Accumulator_29" BEL "Accumulator_30" BEL "Accumulator_31" BEL
        "Accumulator_32" BEL "Accumulator_33" BEL "Accumulator_34" BEL
        "Accumulator_35" BEL "Accumulator_36" BEL "Accumulator_37" BEL
        "Accumulator_38" BEL "Accumulator_1_1" BEL "Accumulator_2_1" BEL
        "Accumulator_3_1" BEL "Accumulator_4_1" BEL "Mram_F1/G" BEL
        "Mram_F1/F" BEL "Mram_F4/G" BEL "Mram_F4/F" BEL "Mram_F2/G" BEL
        "Mram_F2/F" BEL "Mram_F3/G" BEL "Mram_F3/F" BEL "Mram_F5/G" BEL
        "Mram_F5/F" BEL "Mram_F6/G" BEL "Mram_F6/F" BEL "Mram_F9/G" BEL
        "Mram_F9/F" BEL "Mram_F7/G" BEL "Mram_F7/F" BEL "Mram_F8/G" BEL
        "Mram_F8/F" BEL "Mram_F10/G" BEL "Mram_F10/F" BEL "Mram_F11/G" BEL
        "Mram_F11/F" BEL "Mram_F14/G" BEL "Mram_F14/F" BEL "Mram_F12/G" BEL
        "Mram_F12/F" BEL "Mram_F13/G" BEL "Mram_F13/F" BEL "Mram_F15/G" BEL
        "Mram_F15/F" BEL "Mram_F16/G" BEL "Mram_F16/F" BEL "Mram_F17/G" BEL
        "Mram_F17/F" BEL "Mram_F18/G" BEL "Mram_F18/F" BEL "Mram_F19/G" BEL
        "Mram_F19/F" BEL "Mram_F20/G" BEL "Mram_F20/F" BEL "Mram_F23/G" BEL
        "Mram_F23/F" BEL "Mram_F21/G" BEL "Mram_F21/F" BEL "Mram_F22/G" BEL
        "Mram_F22/F" BEL "Mram_F24/G" BEL "Mram_F24/F" BEL "Mram_F25/G" BEL
        "Mram_F25/F" BEL "Mram_F28/G" BEL "Mram_F28/F" BEL "Mram_F26/G" BEL
        "Mram_F26/F" BEL "Mram_F27/G" BEL "Mram_F27/F" BEL "Mram_F29/G" BEL
        "Mram_F29/F" BEL "Mram_F30/G" BEL "Mram_F30/F" BEL "Mram_F33/G" BEL
        "Mram_F33/F" BEL "Mram_F31/G" BEL "Mram_F31/F" BEL "Mram_F32/G" BEL
        "Mram_F32/F" BEL "Mram_F34/G" BEL "Mram_F34/F" BEL "Mram_F35/G" BEL
        "Mram_F35/F" BEL "Mram_F38/G" BEL "Mram_F38/F" BEL "Mram_F36/G" BEL
        "Mram_F36/F" BEL "Mram_F37/G" BEL "Mram_F37/F" BEL "Mram_F39/G" BEL
        "Mram_F39/F" BEL "Mram_F40/G" BEL "Mram_F40/F" BEL "Mram_F43/G" BEL
        "Mram_F43/F" BEL "Mram_F41/G" BEL "Mram_F41/F" BEL "Mram_F42/G" BEL
        "Mram_F42/F" BEL "Mram_F44/G" BEL "Mram_F44/F" BEL "Mram_F45/G" BEL
        "Mram_F45/F" BEL "Mram_F48/G" BEL "Mram_F48/F" BEL "Mram_F46/G" BEL
        "Mram_F46/F" BEL "Mram_F47/G" BEL "Mram_F47/F" BEL "Mram_F49/G" BEL
        "Mram_F49/F" BEL "Mram_F50/G" BEL "Mram_F50/F" BEL "Mram_F53/G" BEL
        "Mram_F53/F" BEL "Mram_F51/G" BEL "Mram_F51/F" BEL "Mram_F52/G" BEL
        "Mram_F52/F" BEL "Mram_F54/G" BEL "Mram_F54/F" BEL "Mram_F55/G" BEL
        "Mram_F55/F" BEL "Mram_F56/G" BEL "Mram_F56/F" BEL "Mram_F57/G" BEL
        "Mram_F57/F" BEL "Mram_F58/G" BEL "Mram_F58/F" BEL "Mram_F59/G" BEL
        "Mram_F59/F" BEL "Mram_F62/G" BEL "Mram_F62/F" BEL "Mram_F60/G" BEL
        "Mram_F60/F" BEL "Mram_F61/G" BEL "Mram_F61/F" BEL "Mram_F63/G" BEL
        "Mram_F63/F" BEL "Mram_F64/G" BEL "Mram_F64/F" BEL "Mram_R1/G" BEL
        "Mram_R1/F" BEL "Mram_R4/G" BEL "Mram_R4/F" BEL "Mram_R2/G" BEL
        "Mram_R2/F" BEL "Mram_R3/G" BEL "Mram_R3/F" BEL "Mram_R5/G" BEL
        "Mram_R5/F" BEL "Mram_R6/G" BEL "Mram_R6/F" BEL "Mram_R9/G" BEL
        "Mram_R9/F" BEL "Mram_R7/G" BEL "Mram_R7/F" BEL "Mram_R8/G" BEL
        "Mram_R8/F" BEL "Mram_R10/G" BEL "Mram_R10/F" BEL "Mram_R11/G" BEL
        "Mram_R11/F" BEL "Mram_R14/G" BEL "Mram_R14/F" BEL "Mram_R12/G" BEL
        "Mram_R12/F" BEL "Mram_R13/G" BEL "Mram_R13/F" BEL "Mram_R15/G" BEL
        "Mram_R15/F" BEL "Mram_R16/G" BEL "Mram_R16/F" BEL "Mram_R17/G" BEL
        "Mram_R17/F" BEL "Mram_R18/G" BEL "Mram_R18/F" BEL "Mram_R19/G" BEL
        "Mram_R19/F" BEL "Mram_R20/G" BEL "Mram_R20/F" BEL "Mram_R23/G" BEL
        "Mram_R23/F" BEL "Mram_R21/G" BEL "Mram_R21/F" BEL "Mram_R22/G" BEL
        "Mram_R22/F" BEL "Mram_R24/G" BEL "Mram_R24/F" BEL "Mram_R25/G" BEL
        "Mram_R25/F" BEL "Mram_R28/G" BEL "Mram_R28/F" BEL "Mram_R26/G" BEL
        "Mram_R26/F" BEL "Mram_R27/G" BEL "Mram_R27/F" BEL "Mram_R29/G" BEL
        "Mram_R29/F" BEL "Mram_R30/G" BEL "Mram_R30/F" BEL "Mram_R33/G" BEL
        "Mram_R33/F" BEL "Mram_R31/G" BEL "Mram_R31/F" BEL "Mram_R32/G" BEL
        "Mram_R32/F" BEL "Mram_R34/G" BEL "Mram_R34/F" BEL "Mram_R35/G" BEL
        "Mram_R35/F" BEL "Mram_R36/G" BEL "Mram_R36/F" BEL "Mram_R37/G" BEL
        "Mram_R37/F" BEL "Mram_R38/G" BEL "Mram_R38/F" BEL "Mram_R39/G" BEL
        "Mram_R39/F" BEL "Mram_R42/G" BEL "Mram_R42/F" BEL "Mram_R40/G" BEL
        "Mram_R40/F" BEL "Mram_R41/G" BEL "Mram_R41/F" BEL "Mram_R43/G" BEL
        "Mram_R43/F" BEL "Mram_R44/G" BEL "Mram_R44/F" BEL "Mram_R47/G" BEL
        "Mram_R47/F" BEL "Mram_R45/G" BEL "Mram_R45/F" BEL "Mram_R46/G" BEL
        "Mram_R46/F" BEL "Mram_R48/G" BEL "Mram_R48/F" BEL "Mram_R49/G" BEL
        "Mram_R49/F" BEL "Mram_R52/G" BEL "Mram_R52/F" BEL "Mram_R50/G" BEL
        "Mram_R50/F" BEL "Mram_R51/G" BEL "Mram_R51/F" BEL "Mram_R53/G" BEL
        "Mram_R53/F" BEL "Mram_R54/G" BEL "Mram_R54/F" BEL "Mram_R57/G" BEL
        "Mram_R57/F" BEL "Mram_R55/G" BEL "Mram_R55/F" BEL "Mram_R56/G" BEL
        "Mram_R56/F" BEL "Mram_R58/G" BEL "Mram_R58/F" BEL "Mram_R59/G" BEL
        "Mram_R59/F" BEL "Mram_R62/G" BEL "Mram_R62/F" BEL "Mram_R60/G" BEL
        "Mram_R60/F" BEL "Mram_R61/G" BEL "Mram_R61/F" BEL "Mram_R63/G" BEL
        "Mram_R63/F" BEL "Mram_R64/G" BEL "Mram_R64/F" BEL "Mram_P3/G" BEL
        "Mram_P3/F" BEL "Mram_P1/G" BEL "Mram_P1/F" BEL "Mram_P2/G" BEL
        "Mram_P2/F" BEL "Mram_P4/G" BEL "Mram_P4/F" BEL "Mram_P5/G" BEL
        "Mram_P5/F" BEL "Mram_P8/G" BEL "Mram_P8/F" BEL "Mram_P6/G" BEL
        "Mram_P6/F" BEL "Mram_P7/G" BEL "Mram_P7/F" BEL "Mram_P9/G" BEL
        "Mram_P9/F" BEL "Mram_P10/G" BEL "Mram_P10/F" BEL "Mram_P13/G" BEL
        "Mram_P13/F" BEL "Mram_P11/G" BEL "Mram_P11/F" BEL "Mram_P12/G" BEL
        "Mram_P12/F" BEL "Mram_P14/G" BEL "Mram_P14/F" BEL "Mram_P15/G" BEL
        "Mram_P15/F" BEL "Mram_P16/G" BEL "Mram_P16/F" BEL "Mram_P17/G" BEL
        "Mram_P17/F" BEL "Mram_P18/G" BEL "Mram_P18/F" BEL "Mram_P19/G" BEL
        "Mram_P19/F" BEL "Mram_P22/G" BEL "Mram_P22/F" BEL "Mram_P20/G" BEL
        "Mram_P20/F" BEL "Mram_P21/G" BEL "Mram_P21/F" BEL "Mram_P23/G" BEL
        "Mram_P23/F" BEL "Mram_P24/G" BEL "Mram_P24/F" BEL "Mram_P27/G" BEL
        "Mram_P27/F" BEL "Mram_P25/G" BEL "Mram_P25/F" BEL "Mram_P26/G" BEL
        "Mram_P26/F" BEL "Mram_P28/G" BEL "Mram_P28/F" BEL "Mram_P29/G" BEL
        "Mram_P29/F" BEL "Mram_P32/G" BEL "Mram_P32/F" BEL "Mram_P30/G" BEL
        "Mram_P30/F" BEL "Mram_P31/G" BEL "Mram_P31/F" BEL "Mram_P33/G" BEL
        "Mram_P33/F" BEL "Mram_P34/G" BEL "Mram_P34/F" BEL "Mram_P37/G" BEL
        "Mram_P37/F" BEL "Mram_P35/G" BEL "Mram_P35/F" BEL "Mram_P36/G" BEL
        "Mram_P36/F" BEL "Mram_P38/G" BEL "Mram_P38/F" BEL "Mram_P39/G" BEL
        "Mram_P39/F" BEL "Mram_P42/G" BEL "Mram_P42/F" BEL "Mram_P40/G" BEL
        "Mram_P40/F" BEL "Mram_P41/G" BEL "Mram_P41/F" BEL "Mram_P43/G" BEL
        "Mram_P43/F" BEL "Mram_P44/G" BEL "Mram_P44/F" BEL "Mram_P47/G" BEL
        "Mram_P47/F" BEL "Mram_P45/G" BEL "Mram_P45/F" BEL "Mram_P46/G" BEL
        "Mram_P46/F" BEL "Mram_P48/G" BEL "Mram_P48/F" BEL "Mram_P49/G" BEL
        "Mram_P49/F" BEL "Mram_P52/G" BEL "Mram_P52/F" BEL "Mram_P50/G" BEL
        "Mram_P50/F" BEL "Mram_P51/G" BEL "Mram_P51/F" BEL "Mram_P53/G" BEL
        "Mram_P53/F" BEL "Mram_P54/G" BEL "Mram_P54/F" BEL "Mram_P55/G" BEL
        "Mram_P55/F" BEL "Mram_P56/G" BEL "Mram_P56/F" BEL "Mram_P57/G" BEL
        "Mram_P57/F" BEL "Mram_P58/G" BEL "Mram_P58/F" BEL "Mram_P61/G" BEL
        "Mram_P61/F" BEL "Mram_P59/G" BEL "Mram_P59/F" BEL "Mram_P60/G" BEL
        "Mram_P60/F" BEL "Mram_P62/G" BEL "Mram_P62/F" BEL "Mram_P63/G" BEL
        "Mram_P63/F" BEL "Mram_P64/G" BEL "Mram_P64/F" BEL
        "DFS_Clk_BUFG.GCLKMUX" BEL "DFS_Clk_BUFG";
PIN CB1/DCM_SP_INST2_pins<3> = BEL "CB1/DCM_SP_INST2" PINNAME CLKIN;
TIMEGRP CB1_CLKFX_1 = PIN "CB1/DCM_SP_INST2_pins<3>";
TS_Clk = PERIOD TIMEGRP "Clk" 20 ns HIGH 50%;
TS_CB1_CLKFX_1 = PERIOD TIMEGRP "CB1_CLKFX_1" TS_Clk / 0.64 HIGH 50%;
TS_DFS_Clk1 = PERIOD TIMEGRP "DFS_Clk1" TS_CB1_CLKFX_1 / 2 HIGH 50%;
SCHEMATIC END;

