
# PlanAhead Generated physical constraints 
NET "Port0[0]" LOC = P76;
NET "Port0[1]" LOC = P82;
NET "Port0[2]" LOC = P85;
NET "Port0[3]" LOC = P90;
NET "Port0[4]" LOC = P92;
NET "Port0[5]" LOC = P96;
NET "Port0[6]" LOC = P101;
NET "Port0[7]" LOC = P104;
NET "Port1[0]" LOC = P77;
NET "Port1[1]" LOC = P83;
NET "Port1[2]" LOC = P87;
NET "Port1[3]" LOC = P91;
NET "Port1[4]" LOC = P93;
NET "Port1[5]" LOC = P98;
NET "Port1[6]" LOC = P102;
NET "Port1[7]" LOC = P105;
NET "Port2[0]" LOC = P121;
NET "Port2[1]" LOC = P125;
NET "Port2[2]" LOC = P127;
NET "Port2[3]" LOC = P130;
NET "Port2[4]" LOC = P132;
NET "Port2[5]" LOC = P135;
NET "Port2[6]" LOC = P139;
NET "Port2[7]" LOC = P142;
NET "Port3[0]" LOC = P124;
NET "Port3[1]" LOC = P126;
NET "Port3[2]" LOC = P129;
NET "Port3[3]" LOC = P131;
NET "Port3[4]" LOC = P134;
NET "Port3[5]" LOC = P138;
NET "Port3[6]" LOC = P141;
NET "Port3[7]" LOC = P143;
NET "Port4[0]" LOC = P5;
NET "Port4[1]" LOC = P7;
NET "Port4[2]" LOC = P10;
NET "Port4[3]" LOC = P12;
NET "Port4[4]" LOC = P21;
NET "Port4[5]" LOC = P25;
NET "Port4[6]" LOC = P28;
NET "Port4[7]" LOC = P30;
NET "Port5[0]" LOC = P4;
NET "Port5[1]" LOC = P6;
NET "Port5[2]" LOC = P8;
NET "Port5[3]" LOC = P11;
NET "Port5[4]" LOC = P20;
NET "Port5[5]" LOC = P24;
NET "Port5[6]" LOC = P27;
NET "Port5[7]" LOC = P29;
NET "Port6[0]" LOC = P41;
NET "Port6[1]" LOC = P43;
NET "Port6[2]" LOC = P45;
NET "Port6[3]" LOC = P47;
NET "Port6[4]" LOC = P55;
NET "Port6[5]" LOC = P59;
NET "Port6[6]" LOC = P62;
NET "Port6[7]" LOC = P64;
NET "Port7[0]" LOC = P42;
NET "Port7[1]" LOC = P44;
NET "Port7[2]" LOC = P46;
NET "Port7[3]" LOC = P48;
NET "Port7[4]" LOC = P58;
NET "Port7[5]" LOC = P60;
NET "Port7[6]" LOC = P63;
NET "Port7[7]" LOC = P67;
NET "Clk_In" LOC = P57;
NET "MOSI" LOC = P111;
NET "MISO" LOC = P112;
NET "SCLK" LOC = P113;
NET "CS" LOC = P70;
NET "LED_Green" LOC = P117;
NET "LED_Red" LOC = P115;
NET "Button" LOC = P140;

#NET "Clk" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "PWM1/CB1/DCM_SP_INST1.CLKIN" CLOCK_DEDICATED_ROUTE = FALSE;