
# PlanAhead Generated physical constraints 

NET "LED_GREEN" LOC = P117;
NET "LED_RED" LOC = P115;
NET "CLK" LOC = P57;
NET "MOSI" LOC = P111;
NET "MISO" LOC = P112;
NET "SCLK" LOC = P113;
NET "SCLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SS" LOC = P70;
NET "BUTTON" LOC = P140;